body {
    text-align: center;
    background-color: antiquewhite;
}

#myh1 {
    color:darkgoldenrod;
}

#mylabel {
    font-size: 2em;
    color:blueviolet;
    font-family: cursive;
}

#myinput {
    font-size: 2em;
    background-color:chartreuse;
    color: orchid;
    font-family:cursive;
}

#mysubmit {
    font-size: 2em;
    background-color: darkslategrey;
    border-radius: 5px;
    color:darkblue;
}

#myp {
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}