body {
    background: url('./assets/wow.jpg')  center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Time {
    font-size: 4em;
    color: hsl(0, 0%, 0%);
    font-family: monospace;
    user-select: none;
}