* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: beige;
}

.wrapper {
    border: 1.5px solid black;
    text-align: center;
    padding: 2rem;
    padding-bottom: 0;
    width: 16rem;
    border-radius: 1rem;
    margin: 0.5rem;
    padding-left: 1rem;
    background-color: rgb(255, 255, 255);
}

h1 {
    font-family: 'Segoe UI', sans-serif;
    color: rgb(0, 60, 255);
    padding: 0.5rem;
}


.time {
 background-attachment: fixed;
 font-family: 'Courier New', Courier, monospace;
 padding: 0.5rem;
 font-size: 2.5rem;
}


.btnCtnr {
    display: flex ;
    text-align: center;
    justify-content: center;
    padding-left: 1rem;
    margin-bottom: 1rem;

}

.btnCtnr button {
    margin: 0.4rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    border: none;
    font-family: 'Segoe UI';
    font-weight: 600;
    color: white;
    border-radius: 0.5rem;
    padding-bottom: 0.7rem ;
    
}

.SB {
    background-color: rgb(198, 198, 16);
    color: hsl(0, 0%, 95%) !important;
    cursor: pointer;
    transition: 200ms ;
}

.RB {
    background-color: green;
    color: hsl(0, 0%, 95%) !important;
    cursor: pointer;
    transition: 200ms ;
}

.PB {
    background-color: red;
    color: hsl(0, 0%, 95%) !important;
    cursor: pointer;
    transition: 200ms ;
}
/* hover */
.SB:hover {
    background-color: hsl(60, 100%, 45%);
}

.RB:hover {
    background-color: hsl(120, 100%, 40%);
}

.PB:hover {
    background-color: hsl(0, 100%, 65%);
}

/* active */
.SB:active {
    background-color: hsl(60, 100%, 65%);
}

.RB:active {
    background-color: hsl(120, 100%, 20%);
}

.PB:active {
    background-color: hsl(0, 100%, 50%);
}
