#myinput {
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
}

body {
    text-align: center;
}

#mysubmit {
    background-color: darkblue;
    padding: 5px;
    color: aqua;
    border-radius: 5px;
}

#mysubmit:hover {
    background-color: blueviolet;
}

#mysubmit:active{
      font-family: 'Gill Sans';
}
