body {
    background-color: rgb(235, 235, 235);
    text-align: center;
}

h1 {
    font-family: 'Arial';
    font-size: 2em;
    color: #333;
    margin-top: 20px;
}

#display {
    font-family: monospace;
    font-size: 3em;
    color: #000;
    background-color: #ccc;
    border-radius: 20px;
    padding: 20px;
}

#stopwatch-container {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

#startbtn {
    font-size: 1.5em;
    background-color: yellowgreen;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;

}

#stopbtn {
    font-size: 1.5em;
    background-color: red;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;

}

#resetbtn {
    font-size: 1.5em;
    background-color: green;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;

}

#startbtn:hover {
    background-color: hsl(80, 61%, 55%);
}

#startbtn:active {
    background-color: hsl(80, 61%, 45%);
}


#resetbtn:hover {
    background-color: hsl(120, 100%, 15%);
}

#resetbtn:active {
    background-color: hsl(120, 80%, 14%);
}

#stopbtn:hover {
    background-color: hsl(0, 100%, 40%);
}

#stopbtn:active {
    background-color: hsl(0, 100%, 30%);
}

#stopbtn:disabled{
    cursor: not-allowed;
}

