body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23272F;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

h1 {
    text-align: center;
}

.Tile {
    font-size: 2.5em;
    padding: 1em;
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;
}


.border-right {
    border-right: 4px solid white;
}

.border-bottom {
    border-bottom: 4px solid white;
}

.border-top {
    border-right: 4px solid white;
}

.border-left {
    border-right: 4px solid white;
}


.x-hover:hover::after {
    content: "X";
    opacity: 0.4;
}

.o-hover:hover::after {
    content: "O";
    opacity: 0.4;
}

.strike {
    position: absolute;
    background-color: darkorange;
}

.strike-row-1 {
    width: 100%;
    height: 4px;
    top: 15%;
}

.strike-row-2 {
    width: 100%;
    height: 4px;
    top: 49%;
}


.strike-row-3 {
    width: 100%;
    height: 4px;
    top: 83%;
}

.strike-column-1 {
    height: 100%;
    width: 4px;
    left: 15.7%;
}

.strike-column-2 {
    height: 100%;
    width: 4px;
    left: 49%;
}


.strike-column-3 {
    height: 100%;
    width: 4px;
    left: 82.5%;

}

.strike-diagonal-1 {
    width: 90%;
    height: 4px;
    top: 50%;
    left: 5%;
    transform:skewY(45deg) ;
}

.strike-diagonal-2 {
    width: 90%;
    height: 4px;
    top: 48%;
    left: 5%;
    transform:skewY(-45deg) ;
}

.reset-button-div {
    background-color: blue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 2em;
    display: flex;
    justify-content: center;
    border-radius: 100px ;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    max-height: 4rem;
    max-width: 12rem;
}


.reset-button {
    font-size: 1.2em;
    border: none;
    background-color: transparent;
    width: 100%;
    color: white;
    font-weight: 550;
    border-radius: 6px;
}

.not-shown {
    display: none;
}
