.slide {
    position: relative;
}

.images {   
    min-width: 100%;
    display: none;
    max-width: 100%;
}

.displaying {
    display: block;
}

h1 {
    text-align: center;
    color: rgb(179, 155, 22);
    
}
body {
    background-color: navy;
}

#left, #right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    background-color: rgba(0, 0, 139, 0.457);
    color: #ffff;
    border: none;
    cursor: pointer;    
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center ;
    padding-top: 0px; 
    padding: 10px;
    margin-top: 25%;
}

#right {
    right: 0px;
}

#left {
    left: 0px;
}

#left:hover, #right:hover {
    background-color:  hsla(240, 100%, 50%, 0.457);
}

#wrapper {
    display: flex;
}

